.main_container {
  width:100%;
  display: flex;
  justify-content: center;
  padding-top: 100px;

}
textarea {
  width: 300px;
  height: 100px;
  margin-bottom: 10px;
}
button {
  display: block;
  margin-top: 10px;
}
h2 {
  margin-top: 20px;
}
